# Terraform state and backup files
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform/
**/.terraform.lock.hcl

# Private keys
**/*.pem

# Environment config files
**/config/*.env

# Local logs
*.log

# Python cache and environment
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/

# Screenshot or image files
**/*.png
**/*.jpg

# Ignore Mac/Linux system files
.DS_Store
Thumbs.db

# Ignore any temp or backup files
*~
*.swp
